.card {
    background-color: #80DFFA;
    border-style: solid;
    border-radius: 80px;
    width: 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.card__image {
    max-width: 50px;
    max-height: 150px;
    margin-left: 130px;
    margin-top: 30px;
    
}

.card__name {
    padding: 0%;
    margin-bottom: -15px;
}
