.card {
    background-color: #80DFFA;
    border-style: solid;
    border-radius: 80px;
    width: 40vh;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.card__image {
    max-width: 50px;
    max-height: 150px;
    margin-left: 130px;
    margin-top: 30px;
    
}

.card__name {
    padding: 0%;
    margin-bottom: -15px;
}



@media screen and (max-width: 768px) {
    .card {
        background-color: #80DFFA;
        border-style: solid;
        border-radius: 20px;
        width: 25vh;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
    }
    
    
    .card__image {
        max-width: 40px;
        max-height: 100px;
        margin-left: 65px;
        margin-top: 30px;
        
    }
    
    .card__name {
        padding: 0%;
        margin-bottom: -15px;
    }
    
}