.sidenav {
margin-top: 60px;
height: 500px;
background-color: #4AB5CF;
display: flex;
flex-direction: column;
text-align: center;
}

.sidenav__searchbox {
    width: 150px;
    margin: 20px;
}

.sidenav__heading {
    width: 150px;
    margin-left: 20px;
    margin-bottom: -10px;
}

.sidenav__image {
    height: 330px;
    width: 200px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    
    .sidenav{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 120px;
      }

      .sidenav__search{
        display: flex;
        flex-direction: column;
      }
 
      .sidenav__image {
        display:none;
      }

      .sidenav__heading {
        width: 12vh;
        font-size: 12px;
      }
}