.checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}

#highABV {
    margin: 10px;
}
#classicRange {
    margin: 10px;
}

#acidic {
    margin: 10px;
}
@media screen and (max-width: 768px) {
    .checkboxes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 11px;
        margin-bottom: -15px;
        margin-left: -60px;
        margin-top: 10px;
    }

#classicRange{
    margin:0px;
    height: 20px;
}

#acidic {
    margin: 0px;
    height: 20px;
}
#highABV{
    margin: 0px;
    height: 20px;
}
}
